<div id="wrapper">
    <ul class="sidebar nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link" routerLinkActive="active" routerLink="/display-blogs">
                <span> Display</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" routerLinkActive="active" routerLink="/create-blog">
                <span>Create Blog</span>
            </a>
        </li>
        
        <li>
            <hr class="style2">
        </li>
        <li >
            <span>All Blogs:</span>

            <div class="all-blogs">
                <ul class="list-unstyled" *ngFor = "let blog of Blog">
                    <li class="list-item">
                        <a href="#" class="nav-link" routerLinkActive="active" routerLink="/update-blog/{{blog.id}}">
                            <span class="blog-timestamp">{{convertDate(blog.timestamp)}}</span>
                            <br/>
                            <span class="blog-title">{{restrictTitle(blog.title)}}</span>
                        </a>                    
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
